/* Search */
.search-field {
  position: relative;
}
.search-input {
  position: static;
  margin: 0;
  padding: 0 0 0 0;
}
.search-input-with-button {
  padding-right: 62px;
}
.search-submit {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 44px;
  width: 50px;
  overflow: visible;
}
.search-input input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  display: block;
  height: 44px;
  border-color: #bfc1c3;
  line-height: 48px !important;
}
@media (min-width: 641px) {
  .search-input input {
    font-size: 19px;
    line-height: 1.31579;
  }
}
.search-field-darker .search-input input {
  border-color: #0b0c0c;
}
.search-input-with-button input {
  border-right: none;
}
.search-submit button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 50px;
  height: 44px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #00823b;
  background-image: url("../images/search-button.png");
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
}
.search-submit button:hover, .search-submit button:focus {
  background-color: #00752E;
}

/*Provider List*/
.providers {
    text-decoration: none;
}

.filter-wrapper {
  background-color: #DEE0E2;
  border: 5px solid #DEE0E2;
}

.filter-head {
  padding: 5px;
}

.filter-container {
  background-color: #FFFFFF;
}

.filter-options {
  padding: 5px;
}

.filter-options label {
  padding-top: 9px;
  padding-left: 5px;
}

.filter-options .multiple-choice {
  margin-bottom: 5px;
}

[type=checkbox] + label::before {
    top: 4px !important;
    left: 4px !important;
    width: 24px !important;
    height: 24px !important;
}

[type=checkbox] + label::after {
    -webkit-transform : rotate(-45deg) scale(0.8) !important; /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(-45deg) scale(0.8) !important; /* IE 9 */
    transform         : rotate(-45deg) scale(0.8) !important; /* Firefox 16+, IE 10+, Opera */
}