/* Search */
body, main {
  line-height: unset;
}

.search-field {
  position: relative;
}
.search-input {
  position: static;
  margin: 0;
  padding: 0 0 0 0;
}
.search-submit {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 44px;
  width: 50px;
  overflow: visible;
}
.search-input input {
  -webkit-appearance: none;
  border-radius: 0;
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  line-height: 1.25;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0 10px 0 10px;
  display: block;
  height: 44px;
  border-color: #bfc1c3;
  line-height: 48px !important;
}
@media (min-width: 641px) {
  .search-input input {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.search-label {
  padding-bottom: 0.5em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.search-label label {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
}

.search-field-darker .search-input input {
  border-color: #0b0c0c;
}
.search-submit button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 50px;
  height: 44px;
  border: none;
  overflow: hidden;
  margin-right: 0px !important;
  text-indent: -5000px;
  color: #fff;
  background-image: url("../images/search-button.png");
  background-repeat: no-repeat;
  background-position: -12.5% 50%;
}

.search-submit button:focus {
    height: 42px;
    background-image: url("../images/search-button-dark.png");
}

.search-submit button:focus:active, .search-submit button:hover {
    height: 44px;
    background-image: url("../images/search-button.png");
}

/*Provider List*/
.providers {
    text-decoration: none;
}

.filter-wrapper {
  background-color: #DEE0E2;
  border: 5px solid #DEE0E2;
}

.filter-head {
  padding: 0.25em;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 700;
}

.filter-container {
  background-color: #FFFFFF;
}

.filter-options {
  padding: 5px;
  border-width: 0px;
}

.filter-options label {
  padding-top: 9px;
  padding-left: 5px;
}

.filter-options .multiple-choice {
  margin-bottom: 5px;
}

# Styling commented out owing to change from assets frontend to play-frontend-hmrc
#[type=checkbox] + label::before {
    #top: 4px !important;
    #left: 4px !important;
    #width: 24px !important;
    #height: 24px !important;
#}

#[type=checkbox] + label::after {
#    -webkit-transform : rotate(-45deg) scale(0.8) !important; /* Chrome, Opera 15+, Safari 3.1+ */
#    -ms-transform     : rotate(-45deg) scale(0.8) !important; /* IE 9 */
#    transform         : rotate(-45deg) scale(0.8) !important; /* Firefox 16+, IE 10+, Opera */
#}

#.multiple-choice [type=checkbox]:focus+label::before {
#    border: 2px solid black;
#    outline: 3px solid black;
#    -webkit-box-shadow: 0 0 0 5px #ffdd00;
#    box-shadow: 0 0 0 5px #ffdd00;
#}

[type=text]:focus {
    outline: 3px solid #ffdd00; !important;
    outline-offset: 0;
    border: 5px solid black;
}

a:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    border-color: #ffdd00;
    background-color: #ffdd00;
    -webkit-box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
}

details summary:focus .summary {
    text-decoration: none;
}

details summary:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #ffdd00;
    -webkit-box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    text-decoration: none;
}

.button {
    border: 2px solid transparent;
}
.button:focus:not(:active):not(:hover) {
    border-color: #ffdd00;
    color: #0b0c0c;
    background-color: #ffdd00;
    -webkit-box-shadow: 0 2px 0 #0b0c0c;
    box-shadow: 0 2px 0 #0b0c0c;
}
.button:focus {
    border-color: #ffdd00;
    outline: 3px solid transparent;
    -webkit-box-shadow: inset 0 0 0 1px #ffdd00;
    box-shadow: inset 0 0 0 1px #ffdd00;
}

.report-error .report-error__toggle:focus,
#footer a:focus,
#global-header .header-proposition #proposition-links li a:focus,
#global-header .header-proposition a.menu:focus,
#global-header #logo:focus {
    color: #0b0c0c;
}
#global-header #logo:focus img {
    filter: invert(1);
}
.account-menu__link:focus,
.is-smaller .account-menu__link--home:focus,
.is-smaller .account-menu__link--menu:focus,
.is-smaller .account-menu__link--home.account-menu__link--active:focus,
.is-smaller .account-menu__link--menu.account-menu__link--active:focus {
    color: #0b0c0c;
    background-color: #ffdd00;
}
@media (min-width: 641px){
    #footer .footer-meta .copyright a {
        background-position: 50% 0;
        float: right;
    }
}
#footer .footer-meta .copyright a:focus {
    background-color: #ffdd00;
}
textarea:focus {
    outline: 3px solid #ffdd00; !important;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.no-details details summary .arrow-closed {
    display: none; !important;
    outline: 3px solid #ffdd00;
}

@media only screen and (min-width: 640px) {
    .language-toggle {
        display: inline-block;
        float: right;
    }
}

.hmrc-banner {
    border-bottom: 0;
}

.visually-hidden, .visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
